/* google_font */
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Grenze:wght@400;600;700&family=M+PLUS+Code+Latin:wght@400;700&family=Special+Elite&display=swap');

:root{
    /* color */
    --color-black: #101010;
    --color-white: #f9f9f9;
    --color-darkgray: #666666;
    --color-lightgray: #cccccc;
    --color-gray: #9c9889;
    --color-gold: #ffd700;
    --color-bg: #dfdac7; 

    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-Bold: 700;

    /* font-family */
    --font-family-bokor: 'Bokor', cursive;
    --font-family-grenze: 'Grenze', serif;
    --font-family-latin: 'M PLUS Code Latin', sans-serif;
    --font-family-elite: 'Special Elite', cursive; 

    /* font-size */
    --font-size-xlarge: 64px;
    --font-size-large: 40px;
    --font-size-medium: 24px;
    --font-size-regular: 18px;
    --font-size-small: 16px;
}
/* Universal Tags */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{padding-left: 0;}

li{list-style: none;}

button{cursor: pointer;}

img{vertical-align: top;}

/***************************** start *****************************/
body{
    font-size: var(--font-size-regular);
    background: url(../images/dark_blue.jpg) no-repeat center / cover;
}
.inner{
    max-width: 1200px;
    margin: auto;
    background-color: rgba(200,200,200,0.4);
}
/* header & nav*/
.header{
    width: 100%;
    min-height: 1px;
    height: 100vh;
    color: var(--color-lightgray);
    background: url(../images/bg01.png) no-repeat center/cover;
}
.navbar{
    width: 100%;
    padding: 30px 0;
    border-bottom:1px solid rgba(150,150,150, .3);
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_container .logo .logo_link{ 
    display: inline-block;
    height: 65px;
}
.navbar_container .logo .logo_link > img{
    height: 100%;
    width: auto;
}
.nav_menu,
.sns_link{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu > li > a,
.sns_link > li > a{
    align-self: baseline;
    padding: 12px 20px;
    font-size: 1.3rem;
    font-weight: var(--font-weight-semiBold);
    font-family: var(--font-family-grenze);
    color: var(--color-lightgray);
    transition: all .6s;
}
.sns_link .link_icon{
    height: var(--font-size-medium);
    width: auto;
}
.nav_menu > li > a:hover{
    color: var(--color-gold);
}
.sns_link > li > a:hover{
    scale: 1.2;
}

/* main */
.main{
    width: 100%;
}







/* font family 확인용 */
.font-family-bokor{font-family: var(--font-family-bokor);}
.font-family-grenze{font-family: var(--font-family-grenze);}
.font-family-latin{font-family: var(--font-family-latin);}
.font-family-elite{font-family: var(--font-family-elite);}
